html
  head
    title Movie Night
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  body
    div
      div(id='Title' blurred)
        h1= message
        form(action='/createUser', method='POST')
          p
            | name: 
            input(name='name', value='')
          input(type='submit', value='Submit')
        div(id='full')
            div(id='tableGrid')
                div(class='blurred' id='blue')
                    table(class='table table-hover')
                        thead
                            tr: th
                                h3 Users:
                            tbody
                                each name in names
                                    tr
                                    td #{name}