html
  head
    title Movie Night
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  body
    div
      div(id='title' blurred)
        h1= message
        p
          a(class='blurred' href='/createUser') create user
        p 
          a(class='blurred' href='/createPolls') create Poll
        p 
          a(class='blurred' href='/createMovies') create Movie
        p 
          a(class='blurred' href='/createDirector') create Director
        